.content{
    margin-top: 50px;
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
    font-family: 'Courier New', Courier, monospace;
}

.content h1{
    color: #CC0000;
    font-size: 70px;
    justify-content: center;
}

.form-label {
    display: inline-block;
    min-width: 200px;
    
}

.form-error {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
    margin-left: 150px;
    border-radius: 10px;
}

.navbar{
    padding-left: 100px;;
}

.navbar-nav{
    padding-left: 100px;
}

.navbar-brand img{
    width: 100px;
}

.nav-item{
    font-size: 18px;

}
.right{
    margin-left:200px;
}

.container{
    padding-top: 20px;
}


.list-catalog ul{
    list-style-type: none;
    display : inline-block;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    
}

.list-catalog li{

    min-width: 200px;
}

li a img{
    width: 50px;
}
.avatar_img{
    width: 50px;
}

.container{
    height: 100%;
}

.contain{
    min-height: 100%;
}

.footer{
    margin-top: 100px;
    text-align: center;
}