{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link type="text/css" href="{% static 'lessons/css/style.css' %}" rel="stylesheet" />
    <title>{% block title %} SABAK {% endblock %}</title>
</head>
<body>

{% include 'inc/_navbar.html' %}

<div class="container">
    <div class="row">

        {%block sidebar%}
        <div class="col-md-3">
            <div class="list-group">
                {% for item in categories_k %}
                    <a href="{% url 'category' item.pk %}"
                       class="list-group-item list-group-item-action">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
        
        {% block content %} 
            <div class="cont">
                <h1>Python программалоо курсу</h1>
                <h2>Лектор: Аманов Каюм</h2>
                <h3> Сабак: 6 ай болот</h3>
                <p>Python (IPA менен: [ˈpʌɪθ(ə)n]; питон аталышы жайылган) - иштеп чыгуучунун өндүрүмдүүлүгүнө жана коддун окумдуу болушуна багытталган жогорку даражалуу, жалпы милдеттерди аткарууга арналган программалоо тили. Python өзөгүнүн синтаксиси - минималдаштырылган. Ошол эле учурда, стандарттуу китепканасы көптөгөн пайдалуу функцияларды камтыйт.

                    Python бир нече программалоо парадигмаларын колдойт. Алардын ичинде структуралык, функционалдык, императивдик, объектиге жана аспектиге багытталган парадигмалар да бар. Негизги архитектуралык өзгөчөлүктөрү - динамикалык типтештирүү, автоматтык эс башкаруу, толук интроспекция, бөтөнчөлүктөрдү иштетүү механизми, көп агымдык эсептөөнү колдоо жана жогорку даражалуу маалымат структуралары. Python'до коддор модул болуп бириге алчу иш-милдеттер жана класстар болуп уюшулат. (модулдар өз кезегинде пакет болуп бириге алышат).
                    
                    Python'дун үлгүлүү колдонулушу - жигердүү колдонулган көпчүлүк платформаларга шайкеш келген CPython интерпретатор болуп саналат. Бул проприетардык жана башка бардык колдонмолордо колдонууга жол берген Python Software Foundation эркин лицензиясы менен тарайт. JVM (компиляция мүмкүндүгү менен), MSIL (компиляция мүмкүндүгү менен), LLVM ж.б. үчүн сунушталган чечмелөөчүлөр бар. PyPy долбоору Python'ду JIT-компиляция менен ишке ашырууну сунуш кылат. Мында Python-программаларды аткаруунун ылдамдыгы кыйла жогорулайт.
                    
                    Python - жигердүү өнүгүп жаткан (тилдик өзгөчөлүктөрүн кошуп/өзгөртүп турган) программалоо тили. Жаңы версиялары болжол менен эки жарым жылда бир чыгып турат. Мунун жана башка себептердин жыйынтыгында Python'дун ANSI, ISO жана башка расмий стандарттары жок. Булардын милдетин CPython аткарат.</p>
                    <hr>

                    <h1>Java программалоо курсу</h1>
                    <h2>Лектор: Аманов Каюм</h2>
                    <h3> Сабак: 6 ай болот</h3>
                    <p>Java программалар Java байт-кодуна которулат. Бул иш байттык кодду иштетип, нускамаларды жабдууга чечмелөөчү катары өткөргөн программада - Java виртуалдык машинасында (VJM) аткарылат.

                        Программаны иштетүүнүн мындай ыкмасынын артыкчылыгы байт-коддун операциондук системден жана жабдуудан толук көз карандысыздыгы болуп саналат. Мындайда Java-колдонмолорду туура келген виртуалдык машине бар бардык түзмөктөрдө иштетүүгө болот. Java технологиясынын дагы бир маанилүү өзгөчөлүгү коопсуздук системи болуп саналат. Мында программаны иштетүү толугу менен виртуалдык машинанын көзөмөлү астында жүрөт. Белгиленген ыйгарым укуктардын чегинен чыккан бардык иш аракеттер (мисалы, маалыматтарга уруксатсыз жетүү же башка компьютерге кошулуу аркети) тезинен токтотууга себеп болот.
                        
                        shootout.alioth.debian.org сайтынын маалыматтарына ылайык, Java'да жети түрдүү милдет аткаруу убактысы C/C++'тыкынан бир жарым-эки эсе көп. Кай бир учурда Java ылдамыраак, кай бир учурда 7 эсе жай. Башка жагынан алып караганда, алардын көбү үчүн Java-машина керектеген эстутум C / С++'тагы программага караганда 10-30 эсе жогору болгон. Ошондой эле белгилей кетчү изилдөө Google тарабынан жүргүзүлгөн. Бул изилдөөдө Java'дагы тесттик үлгүлөрдүн C++'тагы окшош программаларга караганда өндүрүмдүүлүгү кыйла төмөн болуп, эс-тутум керектөөсү жогору болгону айтылат.
                        
                        Концепцияда камтылган ойлор жана Java виртуалдык машинасынын чөйрөсүнүн түрдүүчө ишке ашырылышы көптөгөн ышкыбоздорго виртуалдык машинада иштеген программаларды жасоо үчүн колдонууга мүмкүн болгон тилдердин санын көбөйтүүгө дем берген. Бул идеялар Microsoft'тун .NET аянтчасынын негизин түзгөн CLI жалпы тилдик инфраструктурасынын өзгөчөлөнүүсүндө да көрүнгөн.
                        
                        JavaScript чынында динамикалуу тили болуп саналат. Туура Синтаксис болсо, сен бар эмес, жазып, эмне, сен узактыгы ката болсо, сиз каалаган сиз негизинен жаза аласыз, анткени сейрек, ушул сыяктуу нерселерди тандыраарлык операторун колдонуу керек.[1</p>
                        <hr>

                        <h1>PHP программалоо курсу</h1>
                        <h2>Лектор: Аманов Каюм</h2>
                        <h3> Сабак: 6 ай болот</h3>
                        <p>PHP (англ. PHP: Hypertext Preprocessor — «PHP: гипертекст препроцессору »; башында Personal Home Page Tools[3] — «Жеке веб баракчаларды түзүү аспабы ») — жалпы багыттагы программалоо скрипттик тил[4], интенсивдүүлүк менен веб-приложенияны түзүүдө колдонулуп атат. Азыркы убакытта басымдуу көпчүлүк хостинг-провайдерлери көтөрөт жана динамикалык сайтты түзүүчү программалоо тилдеринин арасынан лидердик орундардын биринде турат. [5]

                            Тил жана анын интерпретатору ачык код проектисинде энтузиасттар группасы менен түзүлүп атат.[6] Проект өзүнүн жеке лицензиясы менен таралат, жана ал GNU GPL менен дал келишпейт. Долбоор өзүнүн жеке лицензиясы менен таралат, жана GNU GPL менен дал келишпейт.</p>
                            <hr>

                            <h1>Front-End программалоо курсу</h1>
                            <h2>Лектор: Аманов Каюм</h2>
                            <h3> Сабак: 6 ай болот</h3>
                            <p>JavaScript (/ dʒɑːvɑːˌskrɪpt /; аббр. JS /dʒeɪ.ɛs./) - көп парадигмалуу программалоо тили. Объектиге багытталган, императивдүү жана функциялык стилдерди колдойт. ECMAScript тилинин (ECMA-262-стандарты) ишке ашырылышы болуп саналат.

                                JavaScript адатта колдонмолордун объектилерине программалык жеткилик алуу үчүн кыналган тил катары колдонулат. Эң көп браузерлерде веб-баракчаларга интерактивдүүлүк берүүчү сценарий тили катары пайдаланылат.
                                
                                Негизги архитектуралык өзгөчөлүктөрү: динамикалык типтештирүү, алсыз типтештирүү, автоматтык эс башкаруу, прототиптик программалоо, функциялар биринчи класстын объектилери катары.
                                
                                JavaScript көптөгөн тилдерге таасир эткен. Иштеп чыгууда максат Java'га окшош, бирок программист эместер оңой колдончу тил жасоо болгон. JavaScript тили эч кайсы компанияга же уюмга тиешелүү эмес. Бул жагынан ал веб-иштеп чыгууларда колдонулган бир катар программалоо тилдеринен айырмаланат.
                                
                                "JavaScript" аталышы Oracle Corporation компаниясына катталган товар белгиси болуп саналат.</p>
                                <hr>
            </div>
        {% endblock %}

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>