{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
     {% if user.profile.photo %}
        <div class="row my-3 p-3">
            <img class="img-thumbnail" src="{{ user.profile.photo.url }} " style="cursor: pointer; width: 100px; border-radius: 10px;"/>
        </div>
        <p><label class='col-sm-2 col-form-label' >Атыныз: </label>
        {{ profile.first_name }}</p>
        <p><label class='col-sm-2 col-form-label' >Фамилияныз: </label>
        {{ profile.last_name }} </p>
        <p><label class='col-sm-2 col-form-label'>E-mail:</label>
         {{ profile.email }} </p>
    {% else %}
        <p><label class='col-sm-2 col-form-label' >Атыныз: </label>
        {{ profile.first_name }}</p>
        <p><label  class='col-sm-2 col-form-label'>Фамилияныз: </label>
         {{ profile.last_name }} </p>
        <p><label class='col-sm-2 col-form-label'>E-mail:</label>
        {{ profile.email }} </p>
    {% endif %}
        <a href="{% url 'edit' %}" class="btn btn-primary">Өзгөртүү</a>
    </form>
</div> 
{% endblock %}