{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'images/Рисунок1.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if not request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Башкы бет</a></li>
        
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Башкы бет</a></li>
        
            <li class="nav-item"><a class="nav-link" href="{% url 'task-list' %}"> Тапшырма </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'create-category' %}"> Категория </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'add_page' %}"> Сабак кошуу</li>

            {%endif%}
            <form class="d-flex">
            {% if request.user.is_authenticated %}
            <li class="d-flex"><a class='nav-link' href="{% url 'profile' %}">{{ user.username}}</a></li> <li class="nav-item ">|</li> <li class="d-flex "><a class="nav-link" href="{% url 'logout' %}">Чыгуу</a></li>
                 {% else %}
            <li class="d-flex"><a class="nav-link" href="{% url 'register' %}">Катталуу </a> </li> <li class="nav-item "> | </li> <li class="d-flex "> <a class="nav-link" href="{% url 'login' %}">Кирүү</a></li>
            {%  endif %}
        </form>
        </ul>
    </div>
</nav>